<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.hwyz.iov.cloud.otd.wms.service.infrastructure.repository.dao.InventoryCountDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="baseResultMap" type="net.hwyz.iov.cloud.otd.wms.service.infrastructure.repository.po.InventoryCountPo">
        <id column="id" property="id" />
        <result column="description" property="description" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="modify_time" property="modifyTime" />
        <result column="modify_by" property="modifyBy" />
        <result column="row_version" property="rowVersion" />
        <result column="row_valid" property="rowValid" />
        <result column="order_num" property="orderNum" />
        <result column="type" property="type" />
        <result column="warehouse_code" property="warehouseCode" />
        <result column="warehouse_level" property="warehouseLevel" />
        <result column="warehouse_name" property="warehouseName" />
        <result column="storage_area_code" property="storageAreaCode" />
        <result column="state" property="state" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="baseColumnList">
        id, order_num, type, warehouse_code, storage_area_code, state, start_time, end_time,
        description, create_time, create_by, modify_time, modify_by, row_version, row_valid
    </sql>

    <!-- 包含仓库信息 -->
    <sql id="columnListWithWarehouse">
        t.id, t.order_num, t.type, t.warehouse_code, w.name as warehouse_name, w.warehouse_level, t.storage_area_code, t.state, t.start_time, t.end_time,
        t.description, t.create_time, t.create_by, t.modify_time, t.modify_by, t.row_version, t.row_valid
    </sql>

    <!-- 插入 -->
    <insert id="insertPo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tb_inventory_count (
            id, order_num, type, warehouse_code, storage_area_code, state, start_time, end_time,
            description, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES (
            #{id}, #{orderNum}, #{type}, #{warehouseCode}, #{storageAreaCode}, #{state}, #{startTime}, #{endTime},
            #{description}, now(), #{createBy}, now(), #{modifyBy}, 1, 1
        )
    </insert>

    <!-- 批量插入 -->
    <insert id="batchInsertPo" useGeneratedKeys="true" keyProperty="id" parameterType="java.util.List">
        INSERT INTO tb_inventory_count (
            id, order_num, type, warehouse_code, storage_area_code, state, start_time, end_time,
            description, create_time, create_by, modify_time, modify_by, row_version, row_valid
        )
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
        (
            #{item.id}, #{item.orderNum}, #{item.type}, #{item.warehouseCode}, #{item.storageAreaCode}, #{item.state}, #{item.startTime}, #{item.endTime},
            #{item.description}, now(), #{item.createBy}, now(), #{item.modifyBy}, 1, 1
        )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="updatePo" parameterType="net.hwyz.iov.cloud.otd.wms.service.infrastructure.repository.po.InventoryCountPo">
        UPDATE tb_inventory_count t SET
        <if test="orderNum != null and orderNum != ''">
            t.order_num = #{orderNum},
        </if>
        <if test="type != null">
            t.type = #{type},
        </if>
        <if test="warehouseCode != null and warehouseCode != ''">
            t.warehouse_code = #{warehouseCode},
        </if>
        <if test="storageAreaCode != null and storageAreaCode != ''">
            t.storage_area_code = #{storageAreaCode},
        </if>
        <if test="state != null">
            t.state = #{state},
        </if>
        <if test="startTime != null">
            t.start_time = #{startTime},
        </if>
        <if test="endTime != null">
            t.end_time = #{endTime},
        </if>
        <if test="description != null and description != ''">
            t.description = #{description},
        </if>
        <if test="modifyBy != null">
            t.modify_by = #{modifyBy},
        </if>
        t.row_version = t.row_version + 1,
        t.modify_time = now()
        WHERE id = #{id}
    </update>

    <!-- 逻辑删除 -->
    <update id="logicalDeletePo" parameterType="Long">
        UPDATE tb_inventory_count t SET
        t.row_version = t.row_version + 1,
        t.modify_time = now(),
        t.row_valid = 0
        WHERE t.id = #{value}
    </update>

    <!-- 物理删除 -->
    <delete id="physicalDeletePo" parameterType="Long">
        DELETE FROM tb_inventory_count t
        WHERE t.id = #{value}
    </delete>

    <!-- 批量物理删除盘点 -->
    <delete id="batchPhysicalDeletePo" parameterType="Long">
        DELETE FROM tb_inventory_count t
        WHERE t.id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!-- 根据主键获取对应数据 -->
    <select id="selectPoById" parameterType="Long" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_inventory_count t
        WHERE t.id = #{value}
        AND t.row_valid = 1
    </select>

    <!-- 根据数据对象获取对应数据列表 -->
    <select id="selectPoByExample" parameterType="net.hwyz.iov.cloud.otd.wms.service.infrastructure.repository.po.InventoryCountPo" resultMap="baseResultMap">
        SELECT <include refid="baseColumnList"/>
        FROM tb_inventory_count t
        WHERE t.row_valid = 1
        <if test="id != null">
            AND t.id = #{id}
        </if>
        <if test="orderNum != null and orderNum != ''">
            AND t.order_num = #{orderNum}
        </if>
        <if test="type != null">
            AND t.type = #{type}
        </if>
        <if test="warehouseCode != null and warehouseCode != ''">
            AND t.warehouse_code = #{warehouseCode}
        </if>
        <if test="storageAreaCode != null and storageAreaCode != ''">
            AND t.storage_area_code = #{storageAreaCode}
        </if>
        <if test="state != null">
            AND t.state = #{state}
        </if>
        <if test="startTime != null">
            AND t.start_time = #{startTime}
        </if>
        <if test="endTime != null">
            AND t.end_time = #{endTime}
        </if>
        <if test="description != null and description != ''">
            AND t.description = #{description}
        </if>
        <if test="createTime != null">
            AND t.create_time = #{createTime}
        </if>
        <if test="createBy != null">
            AND t.create_by = #{createBy}
        </if>
        <if test="modifyTime != null">
            AND t.modify_time = #{modifyTime}
        </if>
        <if test="modifyBy != null">
            AND t.modify_by = #{modifyBy}
        </if>
        <if test="rowVersion != null">
            AND t.row_version = #{rowVersion}
        </if>
        ORDER BY t.id DESC
    </select>

    <!-- 根据Map对象获取对应数据列表 -->
    <select id="selectPoByMap" parameterType="java.util.Map" resultMap="baseResultMap">
        SELECT <include refid="columnListWithWarehouse"/>
        FROM tb_inventory_count t
        LEFT JOIN tb_warehouse w
        ON t.warehouse_code = w.code
        WHERE t.row_valid = 1
        <!-- 添加自定义条件 -->
        <if test="warehouseLevel != null and warehouseLevel != ''">
            AND w.warehouse_level = #{warehouseLevel}
        </if>
        <if test="orderNum != null and orderNum != ''">
            AND t.order_num = #{orderNum}
        </if>
        <if test="type != null">
            AND t.type = #{type}
        </if>
        <if test="warehouseCode != null and warehouseCode != ''">
            AND t.warehouse_code = #{warehouseCode}
        </if>
        <if test="state != null">
            AND t.state = #{state}
        </if>
        <if test="beginTime != null">
            and date_format(t.create_time,'%Y%m%d') &gt;= date_format(#{beginTime},'%Y%m%d')
        </if>
        <if test="endTime != null">
            and date_format(t.create_time,'%Y%m%d') &lt;= date_format(#{endTime},'%Y%m%d')
        </if>
        ORDER BY t.id DESC
    </select>

    <!-- 根据Map对象统计记录数 -->
    <select id="countPoByMap" parameterType="java.util.Map" resultType="int">
        SELECT COUNT(*)
        FROM tb_inventory_count t
        WHERE t.row_valid = 1
        <!-- 添加自定义条件 -->
    </select>
</mapper>
